.laptop {
  transform: scale(0.8);
}
.screen {
  border-radius: 20px;
  box-shadow: inset 0 0 0 2px #c8cacb, inset 0 0 0 10px #000;
  height: 318px;
  width: 518px;
  margin: 0 auto;
  padding: 9px 9px 23px 9px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    15deg,
    #3f51b1 0%,
    #5a55ae 13%,
    #7b5fac 25%,
    #a86aa4 38%,
    #cc6b8e 50%,
    #f18271 62%,
    #f3a469 75%,
    #f7c978 87%,
    #fde475 100%
  );
}

.keyboard {
  background: #c8cacb;
  border-radius: 0 0 20px 20px;
  height: 20px;
  margin: 0 auto;
  width: 600px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  background: rgba(0, 0, 0, 0.8);
}

.text {
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
